.containerGeneral{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    padding: 0px 80px;
}
.filtersContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.tablesContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.authorizationTable, .defenseDate{
    display: flex;
    flex-direction: column;
}
.authorizationTable table, .defenseDate table {
    border-collapse: collapse;
    background-color: #F6F6F6;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;

}

.authorizationTable th, .authorizationTable td, .defenseDate th, .defenseDate td {

    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.authorizationTable th, .defenseDate th {
    height: 20px;
    min-width: 200px;
    border-bottom: 2px solid #000000;
    font-size: 20px;
    font-weight: bold;
}

.authorizationTable td {
    height: 30px;
}

.authorizationTable span {
    color: #00bf63;
    font-size: 20px;
}


.authorizationTable tr td, .defenseDate tr td{
    border-top: 1px solid #dadada;
}
.authorizationTable td:nth-child(2),
.authorizationTable td:nth-child(3),
.authorizationTable td:nth-child(4),
.defenseDate td:nth-child(2),
.defenseDate td:nth-child(3),
.defenseDate td:nth-child(4){
    border-left: 1px solid #dadada;
}


.saveButton {
    width: 100px;
    color: white;
    background-color: var(--secondary-color);
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary-hover-color);
    }
}
