
.formInit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 30px

}

.inputGroup {
    width: 20%;
    height: 40px;
  }
  
.inputUser, .inputPassword{
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #1b1b1b;
    background-color: transparent;
    border: 2px solid var(--primary-hover-color);
    border-radius: 6px;
    padding: 0px 10px;
    outline: none;
}
.user, .password{
    position: relative;
    font-size: 20px;
    left: 10px;
    top: -34px;
    color: var(--primary-color);
    z-index: -2;
    transition: .3s;
}

.inputUser:focus ~ .user,
.inputUser:valid ~ .user{
    top: -55px;
    font-size: 18px;
    background-color: white;
    z-index: 2;
}
.inputPassword:focus ~ .password,
.inputPassword:valid ~ .password{
    top: -54px;
    font-size: 18px;
    background-color: white;
    z-index: 2;
}



