.containerGeneral {

    padding: 20px 20%;


}

.containerContent {
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 15px;
}

.containerContent h1 {
    margin: 0px;

}

.containerSection {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;

}

.title {
    width: 25%;
    margin-right: 20px;
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 500;

}

.value {
    display: flex;
    align-items: center;
    min-width: 70%;
    max-width: 70%;
    min-height: 40px;
    padding: 10px;
    font-size: 15px;
    background-color: white;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 5px;
    outline-color: var(--secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    vertical-align: center;
}

.containerSection textarea {
    padding-top: 20px;
    padding-bottom: 0px;

}

.valid{
    padding: 10px !important;
  }

  

.buttonSave {
    display: flex;
    & button{
        width: 100px;
    }
}


.containerDownload {
    display: flex;

}

.buttonSave button,
.download {
    color: white;
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary-hover-color);
    }
}

.containerPlantilla {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-between;
}


.tooltipContainer {
    position: relative;
    display: flex;
    align-items: center;
}


.tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    font-family: system-ui;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}


.tooltipText {
    visibility: hidden;
    width: 200px;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 140px;
    top: 0px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 12px;
    z-index: 10;
}

.tooltipText::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translateY(-50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent var(--primary-color) transparent transparent;
}

.tooltipContainer:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}


@media (max-width: 800px) {
    .containerGeneral {
        padding: 20px;
    }
}