.containerGeneral{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 60vh;
}
.containerCard {
    min-width: 28%;
    max-width: 28%;
    min-height: 145px;
    border-radius: 10px;
    border: 2px solid #021f54;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.containerText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    max-width: 50%;
}

.titleCard {
    font-weight: bold;
}

.descriptionCard {
    width: 100%;
    font-size: 14px;
   
}

.buttonCard {

    padding: 5px;
    background-color: transparent;
    color: #021f54;
    border: 1px solid #021f54;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    transition: all 0.3s ease;
    bottom: 0;
}

.containerCard:hover .buttonCard {
    background-color: #962330;
    border: 1px solid #962330;
    color: white;
}

.containerImage {
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: relative;
}

.containerCard:hover {
    border: 2px solid #962330;
    box-shadow: #00000080 0px 3px 8px;
}

.containerImage svg {
    transform: translate(0px, 80px) rotate(-60deg) scale(5);
    transition: all 0.8s ease;
}

.containerImage path {
    transition: all 0.5s ease;
}

.containerCard:hover svg {
    transform: translate(50px, 80px) rotate(-80deg) scale(5);
    transition: all 3s ease;
}

.containerCard:hover svg path {
    fill: #962330;
    transition: all 0.5s ease;

}

.icon {
    position: absolute;
    height: 90px; 
    color: white;   
    z-index: 3;      
    right: 10px;
}
